name: Build and Push Docker Image

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: devops-portfolio-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: docker build -t devops-portfolio-app:latest ./app

      - name: Tag Docker image for ECR
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          docker tag devops-portfolio-app:latest \
            ${ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/devops-portfolio-app:latest
          docker tag devops-portfolio-app:latest \
            ${ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/devops-portfolio-app:${GITHUB_SHA}

      - name: Push Docker image to ECR
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          docker push ${ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/devops-portfolio-app:latest
          docker push ${ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/devops-portfolio-app:${GITHUB_SHA}
